---
import Layout from "../layouts/Layout.astro";

// lecturerの情報
interface Lecturer {
    name: string
    univ: string
    title: string
    abstract: string
    biography: string
}

const lec = (name: string, univ: string, title: string = "", abstract: string = "", biography: string = ""): Lecturer => {
    return { name, univ, title, abstract, biography }
}

// ここが順番に表示される
const lecturers: Lecturer[] = [
    lec("Francesco Buscemi", "Nagoya University", 
"The Theory of Statistical Comparison: From Majorization to the Quantum Blackwell Theorem and Beyond", 
"For problems that allow statistical interpretation, such as parameter estimation or information transmission, whenever different strategies are possible, it is natural to compare them on the basis of their statistical performance with respect to the problem at hand. The theory of statistical comparison provides a rigorous formalization of this scenario. In this lecture, I will introduce the basic ideas of the classical theory, including the theory of majorization and the Blackwell-Sherman-Stein theorem, present their extensions to the quantum setting, and discuss applications in information theory (e.g., channel ordering) and quantum foundations (e.g., quantum measurement theory).",
Francesco Buscemi received his Ph.D. in Theoretical Physics from the University of Pavia, Italy, in 2006. After postdoctoral positions at the ERATO-SORST Quantum Computation and Information Project (Tokyo, Japan) and the Statistical Laboratory of the University of Cambridge (UK), he joined Nagoya University in 2009, where he is a full professor in the Department of Mathematical Informatics. In 2018, he was awarded the Birkhoff-von Neumann Prize by the International Quantum Structures Association for \"solving some long-standing open problems in the foundations of quantum physics, using ideas from mathematical statistics and information theory\"."),
    lec("Amin Gohari", "Chinese University of Hong Kong", 
"The Auxiliary Receiver Approach in Network Information Theory", 
"The lectures focus on techniques for proving \"infeasibility results\" for achievable rate regions. In particular, I will present the novel auxiliary receiver approach as a mathematical tool for writing outer bounds in network information theory. The technique's basic idea is to consider one or multiple “auxiliary” receivers and use their past and/or future when identifying the auxiliary random variables. I discuss the application of the technique to some fundamental open problems in network information theory: finding the capacity regions of the broadcast channel, the interference channel, and the relay channel, as well as secret key generation from correlated sources. This technique yields new outer bounds for the relay, interference, and broadcast channel settings. These bounds strictly outperform classical outer bounds at least in some regimes. For instance, we strictly improve on the cutset outer bound for the scalar Gaussian relay channel, the outer bounds for the Gaussian Z-interference channel, and the outer bounds for the two receiver broadcast channels.",
"Amin Gohari received the B.Sc. degree from the Sharif University of Technology, Tehran, Iran, in 2004, and the Ph.D. degree in electrical engineering from the University of California at Berkeley in 2010. From 2010 to 2011, he held a post-doctoral position with the Institute of Network Coding, The Chinese University of Hong Kong. From 2011 to 2022, he was with the Department of Electrical Engineering, Sharif University of Technology and with the Tehran Institute for Advanced Studies, Khatam University. He joined the Department of Information Engineering, The Chinese University of Hong Kong in 2022. His research interests include classical and quantum information theory, game theory, and molecular communication.
He received the 2010 Eli Jury Award from the Department of Electrical Engineering and Computer Sciences, UC Berkeley, for outstanding achievement in the area of communication networks, and the 2009–2010 Bernard Friedman Memorial Prize in Applied Mathematics from the Department of Mathematics, UC Berkeley, for demonstrated ability to do research in applied mathematics. He also received the Gold Medal from the 41st International Mathematical Olympiad (IMO 2000) and the First Prize from the 9th International Mathematical Competition for University Students (IMC 2002). He was a finalist for the Best Student Paper Award at the IEEE International Symposium on Information Theory (ISIT) in three consecutive years 2008, 2009, and 2010. He was also the co-author of a paper that won the ISIT 2013 Jack Wolf Student Paper Award and two that were finalists in 2012 and 2014 (as a supervisor). He was selected as an Exemplary Reviewer for the IEEE TRANSACTIONS ON COMMUNICATIONS in 2015 and 2016. He served as an Associate Editor for the IEEE TRANSACTIONS ON INFORMATION THEORY from 2018 to 2021. He also received the IEEE Iran Section’s Young Researcher Award in 2021."),
    lec("Iftach Haitner", "Tel Aviv University"),
    lec("Shuichi Hirahara", "National Institute of Informatics"),
    lec("Tianren Liu", "Peking University"),
    lec("Arpita Patra", "Indian Institute of Science, Bangalore"),
    lec("Mary Wootters","Stanford University"),
    // lec("Igal Sason", "Technion"),

    // 後で消すこと
    // lec("dummy", "dummy univ", "dummy title", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."),
]

---

<Layout title="EASIT2024">
    <div class="grid grid-cols-12 gap-4">
        <ul class="col-start-1 col-end-13 sm:col-start-2 sm:col-end-12">
            {lecturers.map((v) =>
                <li class="mb-2">
                    <div>
                        <span class="text-lg font-medium">{v.name}</span>
                        <span class="text-sm"> - {v.univ}</span>
                    </div>
                    {v.title ? <div class="ml-5"><span class="font-medium">Title: </span>{v.title}</div> : null}
                    {v.abstract ? <div class="ml-5"><span class="font-medium">Abstract: </span>{v.abstract}</div> : null}
                    {v.biography ? <div class="ml-5"><span class="font-medium">Biography: </span>{v.biography}</div> : null}
                </li>
            )}
        </ul>
    </div>
</Layout>
